/* ============================================================{
	Reset:
}============================================================ */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}
ol,ul {
	list-style:none;
}
blockquote,q {
	quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after {
	content:'';
	content:none;
}
/* ============================================================{
	Default:
}============================================================ */
img {
	vertical-align:bottom;
}
a:focus {
	outline:0;
}
a:link,a:visited {
	text-decoration:none;
}
/* ==========================================================={
	Fonts:
}=========================================================== */
@font-face {
	font-family:'Amaranth';
	src:local('Amaranth'), url('../font/Amaranth.woff') format('woff');
}
@font-face {
	font-family:'Droid Sans';
	src:local('Droid Sans'), url('../font/DroidSans.woff') format('woff');
}
/* ============================================================{
	Page:
}============================================================ */
body {
	background:#1e1615 url(../images/nami.png) fixed;
	color:#ddd;
	font:75%/2 "Droid Sans",arial,helvetica,sans-serif;
	text-align:left;
}
abbr {
	border-bottom:1px dotted #3e3635;
}
a {
	color:#8bad3e;
}
a:hover,
a:active,
a:focus {
	color:#bbdd6e;
}
a.external:after {
	content:'✜';
}
header {
	width:960px;
	margin:0 auto;
}
.menu:after {
	content:"\0020";
	display:block;
	height:0;
	font:0/0 serif;
	clear:both;
	visibility:hidden;
}
.menu {
	font-size:1.1em;
	width:100%;
	border-bottom:1px solid #8bad3e;
	background:#1d1d1d;
}
.menu li {
	float:left;
}
.menu .issues {
	float:right;
}
.menu li a {
	float:left;
	padding:0 10px;
	margin:0 0 -1px;
	position:relative;
	border-bottom:1px solid #8bad3e;
	background:#1d1d1d;
}
.menu li a {
	-webkit-transition:.15s;
	-moz-transition:.15s;
	-o-transition:.15s;
	-ms-transition:.15s;
	transition:.15s;
}
.menu li a:hover,
.menu li a:focus {
	background:#444;
	border-bottom:1px solid #eee;
	padding-top:3px;
	padding-bottom:3px;
	margin:0 0 -7px;
	-webkit-border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;
}
.menu li a:active {
	color:#fff;
}
h1 {
	font:700 64px/1.5 'Palatino Linotype',Palatino,serif;
	padding:0 0 .3em;
	color:#2099af;
	text-shadow:0 1px 0 #222,0 2px 0 #444,0 3px 0 #444,0 4px 0 #444,0 5px 0 #444;
	clear:both;
	width:100%;
}
article {
	border-top:2px solid #8bad3e;
	border-bottom:1px solid #8bad3e;
	clear:both;
	width:910px;
	margin:0 auto;
	font-size:1.2em;
	letter-spacing:1px;
	background:#1d1d1d;
	height:1%;
	padding:1em 25px 0;
	position:relative;
}
article h2 {
	font-size:1.25em;
	margin:0 0 .25em;
	color:#fd971f;
}
article h3 {
	font-size:1.15em;
	line-height:2;
	margin:0 -25px .5em;
	padding:0 25px;
	width:100%;
	position:relative;
	border-bottom:1px solid #434343;
	background:#2D2D2D;
}
article h3 span {
	color:#a7b8ff;
	text-shadow:0 1px 0 #444,0 2px 0 #666;
}
article h5 {
	font-size:1em;
	margin:0 0 .5em;
}
article p {
	margin:0 0 1.5em;
}
article ul,
article ol {
	margin:0 0 1.5em 10px;
}
article ol {
	padding:0 0 0 1em;
	list-style:decimal outside;
}
article ul {
	padding:0 0 0 1em;
	list-style:square outside;
}
article ul ul {
	padding:0 0 0 .5em;
	margin-bottom:0;
	list-style:circle outside;
}
article ul li small,
article ol li small {
	font-size:.83em;
}
article ul.special {
	padding:0;
	list-style:none outside;
}
article ul.special li:before {
	content:"» ";
}
article pre {
	background:#0b1d0e url(../images/nami.png) fixed;
	border-radius:2px 15px 3px 2px;
	border:1px solid #4b6d00;
	border-left-width:5px;
	display:block;
	font:1em/1.75 monaco,monospace;
	margin:.5em 10px 1.5em;
	padding:.5em 15px;
	overflow:auto;
	outline:none;
}
article code {
	border:1px solid #4b6d00;
	border-radius:4px;
	font:.83em/1.75 monaco,monospace;
	padding:0 .5em;
	outline:none;
	background:#0b1d0e url(../images/nami.png) fixed;
}
article pre code {
	background:none;
	border:none;
	border-radius:0;
	padding:0;
}
article p.note {
	font-size:.91em;
}
article img {
	display:block;
	margin:.5em auto 0;
}
.forkme {
	position:absolute;
	top:0;
	right:0;
	width:149px;
	height:149px;
	background:url(../images/forkmeongithub.png) no-repeat;
	text-indent:-999em;
	overflow:hidden;
	-webkit-transition:opacity .5s;
	-moz-transition:opacity .5s;
	-ms-transition:opacity .5s;
	-o-transition:opacity .5s;
	transition:opacity .5s;
	opacity:.6;
}
.forkme:hover {
	background-position:0 -149px;
	opacity:.8;
}
footer {
	border-top:1px solid #8bad3e;
	padding:.5em 0 2em;
	width:960px;
	margin:0 auto;
	overflow:hidden;
}
footer small {
	float:right;
}
/* ============================================================{
	Media queries:
}============================================================ */
@media all and (max-width:980px) {
	header {
		width:90%;
		padding:0 25px;
	}
	.menu,h1 {
		margin:0 -25px;
		width:auto;
	}
	article,footer {
		width:90%;
	}
	article img {
		width:95%;
		height:auto;
	}
	.forkme {
		display:none;
	}
	footer {
		padding:.5em 25px 2em;
	}
}
@media all and (max-width:600px) {
	header {
		padding:0 15px;
	}
	.menu,h1 {
		margin:0 -15px;
		width:auto;
	}
	.menu {
		border:none;
	}
	.menu .issues {
		float:left;
	}
	.menu li a {
		padding:0 5px;
		border:none;
		-webkit-transition:none;
		-moz-transition:none;
		-o-transition:none;
		-ms-transition:none;
		transition:none;
	}
	.menu li a:hover,
	.menu li a:focus {
		padding-top:0;
		padding-bottom:0;
		margin:0 0 -1px;
		border:none;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
	}
	article {
		padding:1em 15px 0;
	}
	article h3 {
		margin:0 -15px .5em;
		padding:0 15px;
	}
	article img {
		width:94%;
	}
	footer {
		padding:.5em 15px 2em;
	}
}
@media all and (max-width:400px) {
	body {
		font-size:62.5%;
	}
	h1 {
		font-size:48px;
		line-height:1.25;
		padding-bottom:.5em;
	}
	article img {
		width:91%;
	}
}
